<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/8814cc124a.js" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/storein/style.css' %}">

    <title>Store Out</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'js/storein/script.js' %}"></script>
</head>
<body>
    <br>
    <div data-v-4bf2c13a="" class=" no-print fluid" style="border-bottom: 1px solid rgb(235, 235, 235); ">
        <div data-v-4bf2c13a="" class="layout row wrap" style="margin-left:70px;">
            <div data-v-4bf2c13a="" class="flex md1"><a data-v-4bf2c13a="" href="#/" class="router-link-active">
                    <div data-v-4bf2c13a="" class="v-responsive v-image" style="height: 84px; margin-top: 7px;">
                        <div class="v-responsive__sizer"></div>
                        <div class="v-image__image v-image__image--contain"
                            style="width:95px;height:80px;background-image: url(&quot;https://hmstest.stsolutions.com.np/static/logo_1.png&quot;); background-position: center center;">
                        </div>
                        <div class="v-responsive__content"></div>
                    </div>
                </a></div>
            <div data-v-4bf2c13a="" class="flex logo-text md7" style="margin-left: 10px;">
                <!---->
                <p data-v-4bf2c13a="" class="">Melamchi Municipality</p>
                <p data-v-4bf2c13a="" class="logo-text-small" style="margin-bottom:0px;"><small>Melamchi,
                        Sindupalchok</small></p>
                <p data-v-4bf2c13a="" class="logo-text-small" style="margin-bottom: 20px;"><small>Bagmati Province,
                        Nepal</small></p>
            </div>
            <!---->
        </div>
    </div>

    <div id="forms-container">
        <form action="{% url 'storeout:submit' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            <br>
            <br>

            <div id="customer-details-container" style="width: 67%; margin-left: 77px;">
                <h3>Store Out</h3>
                <div id="customer-details">
                    <label for="customerName">Customer Name</label>
                    <input type="text" name="customer_name" id="customer-name-box">
                </div>
            </div>

            <br>
            <br>

            <div id="medicine-details-container" style="width: 66%; margin-left: 77px">
                <h3>Medicine Details</h3>
                <div id="medicine-details-table">
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Medicine Name</th>
                                <th>Quantity</th>
                                <th>In Stock</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody id="medicine-details-body-storeout">
                            <tr>
                                <td>
                                    <div id="medicine-name-div-1" class="autocomplete">
                                        <input type="text" name="medicine_name[]" id="medicine-name-1" onkeyup="key_up(this)" data-out="true" onkeydown="key_down(this)" required="true">
                                    </div>
                                </td>
                                <td>
                                    <input type="number" name="medicine_quantity[]" id="medicine-quantity-1" class="number-input-field" onkeyup="calculate_medicine_price(this)" required="true">
                                </td>
                                <td>
                                    <input type="number" name="in_stock[]" id="in-stock-1" class="number-input-field" readonly>
                                </td>
                                <td>
                                    <input type="number" name="selling_rate[]" id="selling-rate-1" class="number-input-field" readonly>
                                </td>
                                <td>
                                    <input type="number" name="total_price[]" id="total-price-1" class="number-input-field">
                                </td>
                                
                                <td id="span-td-1">
                                    <span id="add-new-medicine-storeout" onclick="add_new_medicine_storeout()" ><i class="fas fa-plus"></i></span>
                                    <span id="delete-row-1" data-id="1"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                    <!-- <input type="button" value="Delete" class="delete-row btn btn-danger btn-sm"> -->
                                </td>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <br>

            <div id="buttons-div">
                <!-- <input type="button" id="add-new-medicine" class="btn btn-primary btn-sm add"
                    value="Add another"> -->
                <input type="submit" class="btn btn-success" value="Submit" onclick="">
            </div>
        </form>
    </div>

    {% load static %}
    <script src="{% static 'js/storein/script.js' %}"></script>
     
</body>
</html>